<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>496451902106-3130bg3kbr1gf0abr2so7s0l1jnqn58e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496451902106-3130bg3kbr1gf0abr2so7s0l1jnqn58e</string>
	<key>API_KEY</key>
	<string>AIzaSyCXFrJcYAAoqhcXVmr773-MeAvPdsnlcBk</string>
	<key>GCM_SENDER_ID</key>
	<string>496451902106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>David-Ho.Stor</string>
	<key>PROJECT_ID</key>
	<string>stor-database</string>
	<key>STORAGE_BUCKET</key>
	<string>stor-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496451902106:ios:24d087770c2cf237</string>
	<key>DATABASE_URL</key>
	<string>https://stor-database.firebaseio.com</string>
</dict>
</plist>