<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>579611151991-cn99pd0iarkuu4m70rlg2ahgbp171qsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579611151991-cn99pd0iarkuu4m70rlg2ahgbp171qsi</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ3cm9D1WKj2YlAneH0kJ3nxSWa9lnNCU</string>
	<key>GCM_SENDER_ID</key>
	<string>579611151991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>David-Ho.Stor</string>
	<key>PROJECT_ID</key>
	<string>stordatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>stordatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579611151991:ios:24d087770c2cf237</string>
	<key>DATABASE_URL</key>
	<string>https://stordatabase.firebaseio.com</string>
</dict>
</plist>